=form_for @photo, html: {multipart: :true} do |f|
  %div
    = f.label :title, 'Title'
    = f.text_field :title
  %div
    = f.label :image, 'Choose Image'
    = f.file_field :image
  %div
    = f.submit 'Add'
